body{
    font-family: 'Verdana', Tahoma, 'Helvética' ; /*fonte usada no texto*/
    margin: 0;  /*remove margem padrão*/
    padding: 0; /*remove o preenchimento padrão*/
    background-color:#E1B756;
}

header{
    text-align: center; /*alinha o texto, deixando ele no centro*/
    padding: 0; /*remove o preenchimento padrão*/
    background-color: #E1B756; /* cor do fundo */
    font-size: 1rem;
}

.center{
    display:block; /* display bloqueado, basicamente ele não vai mudar */
    margin-left: auto; /* margin da esquerda ajustada automaticamente */
    margin-right: auto; /* margin da direita ajustada automaticamente */
}

nav ul{
    list-style-type: none; /*tira o estilo de lista*/
    padding: 0; /*remove o preenchimento padrão*/
    
}

nav li{
    display:inline; /*exibe os itens em linha*/
    padding: 2cm; /*preenchimento padrão com 2cm */
}

nav ul li a{
color: #1C3A5F; /* cor do texto */
font-family: 'Impacto'; /* fonte usada no texto */
}


header p{
font-size: 1.375rem; /* tamanho da fonte */
}

header h1{
    font-size:3.125rem; /* tamanho da fonte */
    font-weight: bold; /* peso da fonte */
}
section h2{
font-size: 2.5rem; /* tamanho do texto */
color:#8B3A3A; /* cor do texto */
font-weight: bold; /* peso da fonte: equivalente a 700*/
text-align: center; /* texto alinhado no centro */
}

section h3{
    font-size: 1.875rem; /* tamanho da fonte */
}

 section h4{
    font-size: 1.5625rem; /* tamanho da fonte */
}

section h5{
    font-size: 1.0625rem; /* tamanho da fonte */
}

section p{
    font-size: 1.25rem; /* tamanho da fonte */
}

section img{
    display: block; /*display bloqueado */
    margin:auto; /*margin ajustada automaticamente */
    width: 30%;  /*largura ajustada para 30% */
}